.form-section {
    background-color: #0973CE !important;
}

.icon-box-content {
    padding: 25px;
}

.fa-form label, .fa-form label p {
    font-weight: 600;
    font-size: 11px !important;
    float: left;
    margin: 0 0 2px !important;
    color: #fff !important;
    display: flex;
}
.fa-form label span{
    margin-left: 3px;
}

.fa-form input {
    background-color: #F4F4F4 !important;
    margin: 3px 0px  0 0;
    border: none !important;
}

.fa-form select {
        border: none !important;
}


input[type=checkbox] {
    min-width: 18px !important;
    min-height: 18px !important;
    max-width: 18px !important;
    max-height: 18px !important;
}


#firstNameFactor101Error, #lastNameFactor101Error, #emailFactor101Error, #validEmailFactor101Error, #notWorkEmailFactor101Error, #certifiedProfessionalFactor101Error, #companyFactor101Error, #stateFactor101Error, #countryFactor101Error, #zipcodeFactor101Error, #phoneFactor101Error, #professionalProfileFactor101Error {
	display: none;
}


#certifiedProfessionalFactor101Error {
    color: white !important;
    background: rgba(35, 35, 35, 0.27);
    border-radius: 2px;
    margin-top: 6px !important;
    padding: 5px 8px;
}
.required-asterisk {
    color:  #db4c8e;
}

form input {
    color: #484848;
    width: 100%;
}

form div {
    margin: 0 1%;
    margin-bottom: 12px;
}

.width-50 {
    width: 48%;
    float: left;
}
.has-error input{
     -webkit-box-shadow:inset 0px 0px 0px 2px #db4c8e;
    -moz-box-shadow:inset 0px 0px 0px 2px #db4c8e;
    box-shadow:inset 0px 0px 0px 2px #db4c8e;
}

.fa-signup-btn {
    width: 100% !important;
    background-color: #083054 !important;
    color: white !important;
}
