.form-section {
  background-color: #0973ce !important;
}

.icon-box-content {
  padding: 25px;
}

.fa-form label,
.fa-form label p {
  font-weight: 600;
  font-size: 11px !important;
  float: left;
  margin: 0 0 2px !important;
  color: #fff !important;
  display: flex;
}
.fa-form label span {
  margin-left: 3px;
}

.fa-form input {
  background-color: #f4f4f4 !important;
  margin: 3px 0px 0 0;
  border: none !important;
}

.fa-form select {
  border: none !important;
}

/*.fa-form input:last-child {*/
/*    background-color: transparent !important;*/

/*}*/

input[type='checkbox'] {
  min-width: 18px !important;
  min-height: 18px !important;
  max-width: 18px !important;
  max-height: 18px !important;
}

#firstNameError,
#lastNameError,
#emailError,
#validEmailError,
#notWorkEmailError,
#certifiedProfessionalError,
#companyError,
#phoneError,
#stateError,
#countryError,
#zipcodeError,
#mailingListError {
  display: none;
}

#certifiedProfessionalError,
#mailingListError {
  color: white !important;
  background: rgba(35, 35, 35, 0.27);
  border-radius: 2px;
  margin-top: 6px !important;
  padding: 5px 8px;
}

.required-asterisk {
  color: #db4c8e;
}

form input {
  color: #484848;
  width: 100%;
}

form div {
  margin: 0 1%;
  margin-bottom: 12px;
}

.width-50 {
  width: 48%;
  float: left;
}

.email {
  width: 64%;
  float: left;
}

.phone {
  width: 32%;
  float: left;
}

.city {
  width: 37%;
  float: left;
}

.state {
  width: 22%;
  float: left;
}

.country {
  width: 35%;
  float: left;
}
.has-error input {
  -webkit-box-shadow: inset 0px 0px 0px 2px #db4c8e;
  -moz-box-shadow: inset 0px 0px 0px 2px #db4c8e;
  box-shadow: inset 0px 0px 0px 2px #db4c8e;
}

.fa-signup-btn {
  width: 100% !important;
  background-color: #083054 !important;
  color: white !important;
}

.fa-signup-status.has-success {
  padding: 15px;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  margin: 1%;
  background-color: rgba(45, 184, 171, 0.64);
}

.fa-signup-status.has-error {
  background-color: rgb(240, 66, 66);
  padding: 15px;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  margin: 1%;
}

/* ACTUAL CSS ////////////////*/

.header-main-image {
    position: absolute !important;
    top: 70px;
    right: -200px;
    width: 70%;
    z-index: 900;
    min-width: 785px;
  }
  .bff {
    top: 21px;
  }
  .macbook-container {
    position: absolute !important;
    top: -335px;
    left: 70px;
    width: 38%;
    z-index: 900;
  }
  
  .macbook-container-tablet {
    left: 16%;
    margin-bottom: 10px;
  }
  .macbook {
    position: absolute !important;
    top: 1%;
    left: -17%;
    width: 41%;
    width: 134%;
    z-index: 910;
  }
  
  .bff-rep-img {
    position: absolute !important;
    top: -300px;
    left: -30px;
    width: 55%;
    z-index: 900;
    max-width: 635px;
  }
  .form-section {
    background-color: #0973ce !important;
  }
  
  .icon-box-content {
    padding: 25px;
  }
  
  .factor-allocator-form-container .fa-form label,
  .fa-form label p {
    font-weight: 600;
    font-size: 11px !important;
    float: left;
    margin: 0 0 2px !important;
    color: #fff !important;
    display: flex;
    line-height: 22px !important;
  }
  .factor-allocator-form-container .fa-form label span {
    margin-left: 3px;
  }
  
  .factor-allocator-form-container .fa-form input {
    background-color: #f4f4f4 !important;
    margin: 3px 0px 0 0;
    border: none !important;
  }
  
  .factor-allocator-form-container .fa-form select {
    border: none !important;
  }
  
  /*.fa-form input:last-child {*/
  /*    background-color: transparent !important;*/
  
  /*}*/
  
  .factor-allocator-form-container input[type='checkbox'] {
    min-width: 18px !important;
    min-height: 18px !important;
    max-width: 18px !important;
    max-height: 18px !important;
  }
  
  #firstNameError,
  #lastNameError,
  #emailError,
  #validEmailError,
  #notWorkEmailError,
  #certifiedProfessionalError,
  #companyError,
  #phoneError,
  #stateError,
  #countryError,
  #zipcodeError,
  #mailingListError {
    display: none;
  }
  
  #certifiedProfessionalError,
  #mailingListError {
    color: white !important;
    background: rgba(35, 35, 35, 0.27);
    border-radius: 2px;
    margin-top: 6px !important;
    padding: 5px 8px;
  }
  
  .factor-allocator-form-container .required-asterisk {
    color: #db4c8e;
  }
  
  .factor-allocator-form-container form input {
    color: #484848;
    width: 100%;
  }
  
  .factor-allocator-form-container form div {
    margin: 0 1%;
    margin-bottom: 12px;
  }
  
  .factor-allocator-form-container .width-50 {
    width: 48%;
    float: left;
  }
  
  .factor-allocator-form-container .email {
    width: 64%;
    float: left;
  }
  
  .factor-allocator-form-container .phone {
    width: 32%;
    float: left;
  }
  
  .factor-allocator-form-container .city {
    width: 37%;
    float: left;
  }
  
  .factor-allocator-form-container .state {
    width: 22%;
    float: left;
  }
  
  .factor-allocator-form-container .country {
    width: 35%;
    float: left;
  }
  .factor-allocator-form-container .has-error input {
    -webkit-box-shadow: inset 0px 0px 0px 2px #db4c8e;
    -moz-box-shadow: inset 0px 0px 0px 2px #db4c8e;
    box-shadow: inset 0px 0px 0px 2px #db4c8e;
  }
  
  .factor-allocator-form-container .fa-signup-btn {
    width: 100% !important;
    background-color: #10be68 !important;
    color: white !important;
    border-radius: 100px !important;
    font-size: 12px;
    letter-spacing: 1.9px;
  }
  
  .factor-allocator-form-container .fa-signup-status.has-success {
    padding: 15px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin: 1%;
    background-color: rgba(45, 184, 171, 0.64);
  }
  
  .factor-allocator-form-container .fa-signup-status.has-error {
    background-color: rgb(240, 66, 66);
    padding: 15px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin: 1%;
  }
  
  .main-container .row-container .row-parent .single-internal-gutter .uncont > * {
    margin-top: 10px !important;
  }
  
  .fa-logo img {
    width: 200px;
  }
  .light-blue-border {
    border-top: 1px solid rgba(12, 115, 209, 0.15) !important;
    border-bottom: 1px solid rgba(12, 115, 209, 0.15) !important;
  }
  
  .mailing-list input {
    min-width: 16px !important;
    max-width: 16px !important;
    height: 16px;
    padding: 0 !important;
  }
  
  .mailing-list label {
    display: flex;
    flex-direction: row;
    text-align: left !important;
    margin-right: 5px !important;
    padding-top: 10px;
  }
  