.form-section {
    background-color: #0973CE !important;
}

.icon-box-content {
    padding: 25px;
}

.fa-form label, .fa-form label p {
    font-weight: 600;
    font-size: 11px !important;
    float: left;
    margin: 0 0 2px !important;
    color: #fff !important;
    display: flex;
}
.fa-form label span{
    margin-left: 3px;
}

.fa-form input {
    background-color: #F4F4F4 !important;
    margin: 3px 0px  0 0;
    border: none !important;
}

.fa-form select {
        border: none !important;
}

input[type=checkbox] {
    min-width: 18px !important;
    min-height: 18px !important;
    max-width: 18px !important;
    max-height: 18px !important;
}


#firstNameError, #lastNameError, #emailError, #validEmailError, #notWorkEmailError, #companyError, #phoneError, #stateError, #messageError {
	display: none;
}

.required-asterisk {
    color:  #0C73D1;
}

form input {
    color: #484848;
    width: 100%;
}

form div {
    margin: 0 1%;
    margin-bottom: 12px;
}

.full-width {
  width: 100%;
  float: left;
}

.width-50 {
    width: 48%;
    float: left;
}

.email {
    width: 64%;
    float: left;
}

.phone {
    width: 32%;
    float: left;
}

.city {
    width: 37%;
    float: left;
}

.state {
    width: 22%;
    float: left;
}

.country {
    width: 35%;
    float: left;
}
.has-error input{
     -webkit-box-shadow:inset 0px 0px 0px 2px #db4c8e;
    -moz-box-shadow:inset 0px 0px 0px 2px #db4c8e;
    box-shadow:inset 0px 0px 0px 2px #db4c8e;
}

.has-error textarea{
     -webkit-box-shadow:inset 0px 0px 0px 2px #db4c8e;
    -moz-box-shadow:inset 0px 0px 0px 2px #db4c8e;
    box-shadow:inset 0px 0px 0px 2px #db4c8e;
}

.fa-signup-btn {
    width: 100% !important;
    background-color: #083054 !important;
    color: white !important;
}

.fa-signup-status.has-success {
    padding: 15px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin: 1%;
    background-color: rgba(45, 184, 171, 0.64);
}

.fa-signup-status.has-error {
    background-color: rgb(240, 66, 66);
    padding: 15px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin: 1%;
}
